<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>
        Prontuário Digital
    </display-name>
    <description>
        Prontuário Digital
    </description>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>MedicoFilter</filter-name>
        <filter-class>medico.MedicoFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PacienteFilter</filter-name>
        <filter-class>paciente.PacienteFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdmFilter</filter-name>
        <filter-class>pessoa.AdmFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PessoaValida</filter-name>
        <filter-class>pessoa.PessoaValida</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdmFilter</filter-name>
        <url-pattern>/especialidade/EspecialidadeControl</url-pattern>
        <url-pattern>/hospital/HospitalController</url-pattern>
        <url-pattern>/medicamentos/MedicamentoController</url-pattern>
        <url-pattern>/especialidadeCombo.jsp</url-pattern>
        <url-pattern>/especialidadeForm.jsp</url-pattern>
        <url-pattern>/medicamentoForm.jsp</url-pattern>
        <url-pattern>/hospitalCombo.jsp</url-pattern>
        <url-pattern>/hospitalForm.jsp</url-pattern>
        <url-pattern>/hospitalLista.jsp</url-pattern>
        <url-pattern>/pessoaLista.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MedicoFilter</filter-name>
        <url-pattern>/medicoForm.jsp</url-pattern>
        <url-pattern>/cirurgiaForm.jsp</url-pattern>
        <url-pattern>/cirurgiaSelecionada.jsp</url-pattern>
        <url-pattern>/exameForm.jsp</url-pattern>
        <url-pattern>/medicamentoLista.jsp</url-pattern>
        <url-pattern>/medicoCirurgias.jsp</url-pattern>
        <url-pattern>/restricaoForm.jsp</url-pattern>
        <url-pattern>/restricaoSelecionada.jsp</url-pattern>
        <url-pattern>/adminRestricoes.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PacienteFilter</filter-name>
        <url-pattern>/principal.jsp</url-pattern>
        <url-pattern>/listaCirurgias.jsp</url-pattern>
        <url-pattern>/exameLista.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
